#navigationMenu {
  z-index: 1;
  position: absolute;
  width: 980px;
  height: 62px;
  left: 700px;
  top: 0px;
}
#logo {
  position: relative;
  z-index: 1;

  transform: translateY(15px);
  transform: translateX(18px);
}
.navigationFeatures {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style-type: none;
  outline-style: none;

  margin: 5px;

  color: #e28849;
}
.list-Item {
  padding: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}
.list-Item a {
  text-decoration: none;

  color: #9c755a;
  padding: 45%;
}
.circle {
  opacity: 0.4;

  transform: translateY(12px);
}
.section-One {
  position: absolute;

  width: 803px;
  height: 920px;
  left: 0px;
  top: 0px;

  background: #235559;
}
.section-Two {
  position: absolute;

  width: 980px;
  height: 920px;
  left: 803px;
  top: 0px;

  background-color: #f3cf89;
}
.sectionOne-Paragraph,
.sectionTwo-Paragraph {
  position: relative;
  width: 450px;
  height: 555px;
  bottom: -50px;
  left: 430px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 169px;

  display: flex;
  justify-content: center;
  text-align: center;

  color: #f3cf89;
}
.sectionTwo-Paragraph {
  left: 45px;
  bottom: -220px;
  color: #232c35;
}
.sectionThree-Paragraph {
  position: relative;
  width: 450px;
  height: 25px;
  bottom: -500px;
  left: 520px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  color: #e28849;
}
.deco-Line-One {
  position: relative;
  width: 20px;
  height: 500px;
  left: 50px;
  top: 80px;
  background-color: #f3cf89;

  opacity: 0.8;
}
.deco-Line-Two {
  position: relative;
  width: 450px;
  left: 1200px;
  top: 50px;
  background-color: #232c35;
  border: 8px solid #232c35;

  opacity: 0.8;
}
footer {
  z-index: 3;
  position: relative;

  background-color: black;
}
