* {
  margin: 0px;
  padding: 0px;
}
#navigationMenu {
  z-index: 1;
  position: absolute;
  width: 42%;
  left: 720px;

  padding: 25px;
}
.navigationFeatures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  list-style-type: none;
  outline-style: none;

  margin-left: 20px;
  color: #e28849;
}
.list-Item {
  padding: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
}
.list-Item a {
  text-decoration: none;

  color: #9c755a;
  padding: 45%;
}
.section-One {
  position: absolute;

  min-width: 55%;
  min-height: 135%;

  background: #235559;
}
.section-Two {
  position: absolute;

  min-width: 48%;
  min-height: 135%;
  left: 55%;

  background-color: #f3cf89;
}

.sectionOne-Paragraph,
.sectionTwo-Paragraph {
  position: relative;
  width: 450px;
  height: 555px;
  bottom: -110px;
  left: 380px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 169px;

  display: flex;
  justify-content: center;
  text-align: center;

  color: #f3cf89;
}
.sectionTwo-Paragraph {
  left: 45px;
  bottom: -280px;
  color: #232c35;
}
.sectionThree-Paragraph {
  position: relative;
  width: 25%;
  height: 100%;
  bottom: -460px;
  left: 34%;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  color: #e28849;

  opacity: 0.8;
}
.readMore {
  text-decoration: none;

  color: #232c35;
  border-radius: 8px;
  background-color: #e28849;

  padding: 15px;
}
.deco-Line-One {
  position: relative;
  width: 20px;
  height: 500px;
  left: 50px;
  top: -50px;
  background-color: #f3cf89;

  opacity: 0.8;
}
.deco-Line-Two {
  position: relative;
  width: 450px;
  left: 800px;
  top: -20px;
  background-color: #232c35;
  border: 8px solid #232c35;

  opacity: 0.8;
}
