* {
  margin: 0;
  padding: 0;
}

/* Navigation Styling */

#listItem-Container {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
  list-style-type: none;

  position: absolute;
  z-index: 1;
  left: 55%;
}
.list-Item a {
  display: inline-block;
  color: #232c35;
  opacity: 80%;
  font-family: "Anton", sans-serif;
  text-decoration: none;
  line-height: 70px;
  padding: 45px;
}

/* Hamburger Menu */

label {
  margin: 0 40px 0 0;
  font-size: 25px;
  line-height: 35px;
  display: none;
  width: 25px;
}
#toggle {
  display: none;
}

/* Responsiveness Navigation */

@media screen and (max-width: 767px) {
  #listItem-Container {
    display: none; /* Render Desktop View of Navigation Invisible */
  }
  label {
    display: block;
    cursor: pointer;
    margin: 5px;
  }
  #toggle:checked + #listItem-Container {
    display: block; /* Render Responsive View of Navigation Visible */
  }
  #listItem-Container {
    text-align: center;
    width: 100%;
    display: none;
    left: 5%;
  }
}
/* Main Content Styling */

.container {
  width: 100%;
  height: auto;
}
.section-One {
  position: absolute;
  background: #232c35;
}
.section-Two {
  position: absolute;
  left: 55%;
  background-color: #f3cf89;
}

/* Info Section */

.section-Info {
  position: absolute;
  width: 100%;
  height: auto;

  display: block;
  flex-wrap: column;
  text-align: left;
  justify-content: left;

  top: 65%;
  left: 5%;
}
.section-Info p {
  top: 55%;
  left: 15%;

  min-width: 250px;
  max-width: 450px;

  color: #9c755a;
}

.readMore-Button {
  background-color: #f46c5c;
  color: #232c35;
  border-radius: 8px;

  min-width: 8%;
  max-width: 15%;
  padding: 5px;
  margin: 2px;

  text-decoration: none;
}

/* Main Content Responsiveness */

@media screen and (max-width: 1980px) {
  .section-One {
    min-width: 55%;
    min-height: 100%;
  }
  .section-Two {
    min-width: 45%;
    min-height: 100%;
  }
}

/* Data Visualisation Heading Content */

.article-One {
  min-width: 250px;
  min-height: 40px;
  margin: 5px;

  transform: translate(-0.5%, 500%);
}
.article-Two {
  min-width: 250px;
  min-height: 40px;
  margin: 5px;

  transform: translate(-1%, 600%);
}
.article-One .article-P {
  color: #f3cf89;
  text-align: right;
  font-size: 45px;
}
.article-Two .article-P {
  color: #235559;
  text-align: left;
  font-size: 45px;
}
