.blogPage-Container {
  width: 100%;
  height: 85%;

  transform: translate(0%, 5%);
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 12px;

  padding: 50px;

  transition: all 0.2s ease-in-out;
}
header h2:hover,
.card a:hover {
  transform: scale(1.5);
}
.card {
  display: grid;
  grid-template-rows: max-content 8px 1fr;

  padding: 15px;
  margin: 12px;
  border-radius: 12px;

  background-color: #235559;
}
.card:hover {
  animation: pulse 1.5s infinite;
  animation-timing-function: ease-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.card img {
  width: 12vw;

  text-align: center;
  justify-content: center;
  border-radius: 5px;
}
@media screen and (max-width: 767px) {
  .card img {
    width: 25vw;
  }
}

header h2,
.content p,
.card a,
i {
  padding: 8px;
}
/*
.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  padding: 8px;
  border-radius: 12px;
}
*/
header h2 {
  color: #ee6c4d;
}
.content p {
  color: #eae2b7;
}
.content p:first-child::first-letter {
  font-size: 1.5em;
  font-weight: 5em;
}
.card a {
  text-decoration: none;
  color: #eae2b7;

  background-color: #ee6c4d;
  border-radius: 5px;
  width: 50%;

  transform: translateX(5%);
}
h1 {
  padding: 25px;
  color: beige;
}
hr {
  width: 50%;
}
