/* About Content */

.aboutHeader {
  width: 100%;
  height: 100%;

  transform: translateY(105%);

  color: beige;
  padding: 25px;
}
.aboutArticle,
.aboutArticle-Two {
  position: absolute;
  top: 225px;
  left: 250px;
  max-width: 1000px;
  min-width: 450px;
  margin: 25px;

  font-size: 28px;
}
.aboutArticle p,
.aboutArticle-Two p {
  color: #ee6c4d;
}
.aboutArticle p:first-child::first-letter {
  font-size: 2.5em;
  font-weight: 5em;
}
/* Responsiveness */

@media screen and (max-width: 767px) {
  .aboutArticle {
    top: 275px;
    left: 0px;
  }
}

hr {
  width: 50%;
  transform: translateY(80px);
}

/* Style Guide Content */

.aboutArticle-Two {
  position: absolute;
  top: 920px;
  max-width: 1000px;
  min-width: 450px;
  margin: 25px;
}
.aboutArticle-Two h2 {
  color: beige;
}
a {
  text-decoration: none;

  color: #ee6c4d;
}
