/* About Content */

.aboutHeader {
  width: 100%;
  height: 100%;

  transform: translateY(145%);

  color: beige;
  padding: 25px;
}
.aboutArticle,
.aboutArticle-Two {
  top: 225px;
  left: 250px;
  max-width: 1000px;
  min-width: 450px;
  margin: 25px;

  font-size: 28px;

  transform: translate(10%, 12.5%);
  background-color: #232c35;
  padding: 5%;
  box-shadow: -25px -15px #f3cf89;
}
#aboutID {
  transform: translateY(-15%);
}
.aboutArticle p,
.aboutArticle-Two p {
  color: #ee6c4d;
}
.aboutArticle p:hover {
  font-size: 35px;

  animation-name: transition;
  animation-duration: 5s;
}
@keyframe transition {
  50% {
    font-size: 25px;
  }
  100% {
    font-size: 35px;
  }
}
.aboutArticle p:first-child::first-letter {
  font-size: 2.5em;
  font-weight: 5em;
}
/* Responsiveness */

@media screen and (max-width: 767px) {
  .aboutArticle {
    top: 275px;
    left: 0px;
  }
}

hr {
  width: 50%;
  transform: translateY(100px);
}

/* Style Guide Content */

.aboutArticle-Two {
  position: absolute;
  top: 920px;
  max-width: 1000px;
  min-width: 450px;
  margin: 25px;
}
.aboutArticle-Two h2 {
  color: beige;
}
a {
  text-decoration: none;

  color: #ee6c4d;
}
