.bar {
  fill: #f3cf89;
}
.barTwo {
  fill: #232c35;
}
.info-Section {
  position: absolute;

  top: 120px;
}
.info-Section {
  margin: 5px;
  padding: 5px;

  left: 50px;
  color: beige;
}
.aboutArticle {
  top: 780px;
}
#app {
  transform: translate(25%, 105%);
}
#data-Two {
  transform: translate(10%, 75%);
}
.graph-Two {
  color: #232c35;
}
.data-Info {
  width: 85%;
  text-align: left;
  justify-content: left;
}
.reflection-Header {
  color: red;
}
#bubblePlot {
  transform: translateY(-45%);
}
#axis {
  color: white;
}
.circle-Dots {
  transform: translate();
}
#scatterPlot {
  transform: translate(5%, 120%);
}
#graphs {
  transform: translateX(-5%);
  background-color: #232c35;
  padding: 5%;
  box-shadow: -40px -15px #f3cf89;
}
.dataIndex-Hr {
  transform: translateY(45%);
  width: 75%;
}
#data {
  transform: translate(8%, 5%);

  color: beige;
}
#data ul {
  list-style-type: none;
}
#data ul li {
  padding: 5px;
  width: 10%;
}
#data ul li input {
  margin-left: 20px;
  transform: translateX(-155%);
}
.readMore-Button {
  position: absolute;

  top: 95%;
  left: 5%;

  background-color: #f3cf89;
  padding: 8px;
}
.readMore-Button a {
  color: #232c35;

  justify-content: center;
  text-align: center;
}
.circle-Text {
  color: red;
  z-index: 2;
}

/* Bar Graph Axis Labels */

.x-AxisInfo {
  position: absolute;
  left: 285px;
  bottom: 195px;
  color: #f3cf89;
}
.y-AxisInfo {
  color: #f3cf89;
  position: absolute;
  left: 65px;
  top: 445px;

  transform: rotateZ(270deg);
}

/* Scatter Plot Graph Axis Labels */

.x-AxisInfo-Two {
  position: absolute;
  top: 600px;
  left: 28%;

  color: beige;
}
.y-AxisInfo-Two {
  position: absolute;
  top: 445px;
  left: -12%;
  transform: rotateZ(270deg);

  color: beige;
}
