.bar {
  fill: #f3cf89;
}
.barTwo {
  fill: #232c35;
}
.info-Section {
  position: absolute;

  top: 120px;
}
.info-Section {
  margin: 5px;
  padding: 5px;

  left: 50px;
  color: beige;
}
.aboutArticle {
  top: 780px;
}
#app {
  transform: translate(25%, 105%);
}
#data-Two {
  transform: translate(10%, 75%);
}
.graph-Two {
  color: #232c35;
}
.data-Info {
  width: 85%;
  text-align: left;
  justify-content: left;
}
.reflection-Header {
  color: red;
}
#bubblePlot {
  transform: translateY(-45%);
}
#axis {
  color: white;
}
.circle-Dots {
  transform: translate();
}
#scatterPlot {
  transform: translate(5%, 120%);
}
#graphs {
  transform: translateX(-5%);
  background-color: #232c35;
  padding: 5%;
  box-shadow: -40px -15px #f3cf89;
}
