/* Bar Colours */

.bar {
  fill: #f3cf89;
}
.barTwo {
  fill: #232c35;
}

/* Scatter Plot Position */

#scatterPlot {
  transform: translate(5%, 120%);
}

/* Data Info Containers */

.info-Section {
  position: absolute;

  top: 120px;
}
.info-Section {
  margin: 5px;
  padding: 5px;

  left: 50px;
  color: beige;
}
.info-Section h1 {
  transform: translateX(-2%);
}
#index-data {
  transform: translateX(0.25%);
}
.aboutArticle {
  top: 280px;
}

/* Data Headers */

.data-Info {
  width: 85%;
  text-align: left;
  justify-content: left;
}
.data-Info_Two {
  text-align: left;
  width: 50%;
  justify-content: left;
}

/* UnderLine Header */

.dataIndex-Hr {
  transform: translateY(45%);
  width: 75%;
}
.dataInteractive-Hr {
  transform: translateY(25%);
  width: 50%;
}

/* Interactions 
#data {
  transform: translate(8%, 5%);

  color: beige;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
#data ul {
  list-style-type: none;

  display: flex;
  text-align: center;
  justify-content: space-evenly;

  transform: translate(22%, -45%);
}
#data ul li {
  padding: 5px;
  width: 10%;
}
#data ul li input {
  margin-left: 20px;
}
*/

.interactive-Container {
  animation-name: axisAnim;
  animation-duration: 5s;
}

/* Buttons */

.readMore-Button {
  position: relative;

  top: 680px;
  left: 5%;

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;
}
.interaction-Button {
  position: relative;

  top: 695px;
  left: 5%;

  background-color: #ee6c4d;
  padding: 7.5px;

  width: 25%;
  border-radius: 8px;
}
#interactiveGraph {
  position: relative;
  top: 40%;
  right: 55%;
  background-color: #232c35;
}
.interactive-Svg {
  position: relative;

  width: 80%;

  transform: translate(15%, 105%);
}
.readMore-Button a,
.interaction-Button a {
  color: beige;

  justify-content: center;
  text-align: center;
}

/* Links  */

.link-AQI,
.link-Humidity {
  position: absolute;
  transform: translate(465px, 750px);

  text-decoration: none;
  color: #f46c5c;

  padding: 5px;

  font-size: 20px;
  font-weight: 500;
}

.link-Humidity {
  transform: translate(645px, 750px);
}

#intReflection-Link {
  position: absolute;

  top: 75%;
  left: 25%;

  text-decoration: none;
  color: beige;

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;
}

#intGraph-Link {
  position: absolute;

  top: 75%;
  left: 7.5%;

  text-decoration: none;
  color: beige;

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;
}

/* Bar Graph Axis Labels */

.x-AxisInfo {
  position: absolute;
  left: 285px;
  bottom: 195px;
  color: #ee6c4d;

  animation-name: axisAnim;
  animation-duration: 10s;
}
.y-AxisInfo {
  color: #ee6c4d;
  position: absolute;
  left: 15px;
  top: 445px;

  transform: rotateZ(270deg);

  animation-name: axisAnim;
  animation-duration: 10s;
}

/* Bar Graph Axis Animations */

@keyframes axisAnim {
  0% {
    opacity: 0%;
    color: none;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
    color: none;
  }
  100% {
    opacity: 100%;
  }
}

/* Scatter Plot Graph Axis Labels */

.x-AxisInfo-Two {
  position: absolute;
  top: 600px;
  left: 28%;

  color: beige;

  animation-name: axisAnim;
  animation-duration: 10s;
}
.y-AxisInfo-Two {
  position: absolute;
  top: 445px;
  left: -12%;
  transform: rotateZ(270deg);

  color: beige;

  animation-name: axisAnim;
  animation-duration: 10s;
}

/* Footer CSS */

footer {
  position: absolute;
  top: 825px;
  width: 80%;
  height: 15vh;
  background-color: #f3cf89;

  text-align: center;
  padding: 25px;
}
footer nav {
  transform: translateX(15%);
}

/* Svg */

#app {
  transform: translate(20%, 125%);
}

/* Interactivity */

.list-Name,
.list-ItemCheckbox {
  color: #ee6c4d;

  opacity: 100%;

  transform: translate(-2%, 55px);
  list-style: none;

  padding: 15px;
}
.unorderedList {
  padding: 52px;
}
.intReflection-Link {
  position: relative;
  transform: translate(450px 100px);
}
