/* Bar Colours */

.bar {
  fill: #f3cf89;
}
.barTwo {
  fill: #232c35;
}

/* Scatter Plot Position */

#scatterPlot {
  transform: translate(5%, 152%);
  width: 100%;
}

/* Responsiveness */

@media screen and (max-width: 880px) {
  #scatterPlot {
    transform: translate(5%, 255%);
  }
}
@media screen and (max-width: 745px) {
  #scatterPlot {
    transform: translate(5%, 310%);
  }
}
@media screen and (max-width: 473px) {
  #scatterPlot {
    transform: translate(5%, 495%);
  }
}

/* Data Info Containers */

.info-Section {
  position: absolute;

  top: 120px;
}
.info-Section {
  margin: 5px;
  padding: 5px;

  left: 50px;
  color: beige;
}
.info-Section h1 {
  transform: translateX(-2%);
}
#index-data {
  transform: translateX(0.25%);
}
.aboutArticle {
  top: 280px;
}

.section-One {
  width: 50%;
  height: auto;
}

/* Data Headers */

.data-Info {
  width: 85%;
  text-align: left;
  justify-content: left;
}
.data-Info_Two {
  text-align: left;
  width: 50%;
  justify-content: left;
}

/* Responsiveness */

@media screen and (max-width: 1292px) {
  .data-Info {
    width: 65%;
  }
}

@media screen and (max-width: 995px) {
  .data-Info {
    width: 55%;
  }
}
@media screen and (max-width: 895px) {
  .data-Info {
    width: 45%;
  }
}

/* UnderLine Header */

.dataIndex-Hr {
  transform: translateY(45%);
  width: 75%;
}
.dataInteractive-Hr {
  transform: translateY(25%);
  width: 50%;
}

/* Responsiveness */

@media screen and (max-width: 1200px) {
  .dataIndex-Hr {
    width: 65%;
  }
}
@media screen and (max-width: 1093px) {
  .dataIndex-Hr {
    width: 45%;
  }
}

/* Interactions 
#data {
  transform: translate(8%, 5%);

  color: beige;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-between;
}
#data ul {
  list-style-type: none;

  display: flex;
  text-align: center;
  justify-content: space-evenly;

  transform: translate(22%, -45%);
}
#data ul li {
  padding: 5px;
  width: 10%;
}
#data ul li input {
  margin-left: 20px;
}
*/

.interactive-Container {
  animation-name: axisAnim;
  animation-duration: 5s;
}

/* Buttons */

.readMore-Button {
  position: relative;

  top: 680px;
  left: 5%;

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;
}
.interaction-Button {
  position: relative;

  top: 695px;
  left: 5%;

  background-color: #ee6c4d;
  padding: 7.5px;

  width: 25%;
  border-radius: 8px;
}
#interactiveGraph {
  position: relative;
  top: 40%;
  right: 55%;
  background-color: #232c35;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.interactive-Svg {
  position: relative;

  width: 80%;

  transform: translate(15%, 105%);
}
.readMore-Button a,
.interaction-Button a {
  color: beige;

  justify-content: center;
  text-align: center;
}

/* Responsiveness */

@media screen and (max-width: 880px) {
  .readMore-Button {
    top: 585px;
    padding: 4.5px;
  }
  .interaction-Button {
    top: 595px;
    left: 5.5%;
  }
}
@media screen and (max-width: 473px) {
  .readMore-Button {
    top: 585px;
    padding: 18px;
  }
  .interaction-Button {
    top: 595px;
    left: 5.5%;
    padding: 18px;
  }
}
@media screen and (max-width: 767px) {
  #interactiveGraph {
    width: 255px;
    height: 250px;
  }
}

@media screen and (max-width: 1750px) {
  .readMore-Button {
    top: 820px;
  }
  .interaction-Button {
    top: 835px;
  }
}

/* Links  */

.link-AQI,
.link-Humidity {
  position: absolute;
  transform: translate(465px, 750px);

  text-decoration: none;
  color: #f46c5c;

  padding: 5px;

  font-size: 20px;
  font-weight: 500;
}

.link-Humidity {
  transform: translate(645px, 750px);
}

#intReflection-Link {
  position: absolute;

  top: 75%;
  left: 32%;

  text-decoration: none;
  color: beige;

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;
}

#intGraph-Link {
  position: absolute;

  top: 75%;
  left: 7.5%;

  text-decoration: none;
  color: beige;

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;
}

/* Responsiveness */

@media screen and (max-width: 767px) {
  #intGraph-Link {
    top: 65%;
    left: 20%;
  }
  #intReflection-Link {
    top: 70%;
    left: 20%;
  }
}

/* Bar Graph Axis Labels */
.x-AxisInfo {
  position: absolute;
  left: 285px;
  bottom: 195px;
  color: #ee6c4d;

  animation-name: axisAnim;
  animation-duration: 10s;
}
.y-AxisInfo {
  color: #ee6c4d;
  position: absolute;
  left: 15px;
  top: 445px;

  transform: rotateZ(270deg);

  animation-name: axisAnim;
  animation-duration: 10s;
}

/* Labels Responsiveness */

@media screen and (max-width: 1220px) {
  .x-AxisInfo {
    left: 285px;
    top: 585px;
  }
  .y-AxisInfo {
    position: absolute;
    left: 1450%;
    top: 1450px;
  }
}

@media screen and (max-width: 1400px) {
  .x-AxisInfo {
    left: 285px;
    bottom: 245px;
  }
  .y-AxisInfo {
    left: 1450%;
    top: 285px;
  }
}

@media screen and (max-width: 1750px) {
  .y-AxisInfo {
    bottom: 285px;
    left: 185px;
  }
  .x-AxisInfo {
    bottom: 145px;
  }
}

@media screen and (max-width: 880px) {
  .x-AxisInfo {
    left: 170px;
    top: 595px;

    font-size: 85%;
  }
  .y-AxisInfo {
    font-size: 85%;
  }
}
@media screen and (max-width: 473px) {
  .x-AxisInfo {
    transform: translate(-70%, -25%);
    font-size: 65%;
  }
  .y-AxisInfo {
    left: 125px;
    font-size: 65%;
  }
}

/* Bar Graph Axis Animations */

@keyframes axisAnim {
  0% {
    opacity: 0%;
    color: none;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
    color: none;
  }
  100% {
    opacity: 100%;
  }
}

/* Scatter Plot Graph Axis Labels */

.x-AxisInfo-Two {
  position: absolute;
  top: 685px;
  left: 28%;

  color: beige;

  animation-name: axisAnim;
  animation-duration: 10s;
}
.y-AxisInfo-Two {
  position: absolute;
  top: 445px;
  left: -12%;
  transform: rotateZ(270deg);

  color: beige;

  animation-name: axisAnim;
  animation-duration: 10s;
}

/* Labels Responsiveness */

@media screen and (max-width: 1220px) {
  .y-AxisInfo-Two {
    left: -15%;
    top: 55%;
  }
  .x-AxisInfo-Two {
    top: 71%;
  }
}

@media screen and (min-width: 1720px) {
  .y-AxisInfo-Two {
    left: -10%;
    top: 620px;
  }
  .x-AxisInfo-Two {
    top: 820px;
  }
}
@media screen and (max-width: 880px) {
  .y-AxisInfo-Two {
    left: -19%;
    top: 54%;

    font-size: 85%;
  }
  .x-AxisInfo-Two {
    top: 68%;

    font-size: 80%;
  }
}
@media screen and (max-width: 745px) {
  .y-AxisInfo-Two {
    left: -22%;
  }
}
@media screen and (max-width: 473px) {
  .x-AxisInfo-Two {
    top: 64.5%;
    left: 20%;
    font-size: 65%;
  }
  .y-AxisInfo-Two {
    left: -28%;
    font-size: 65%;
  }
}

/* Footer CSS */

footer {
  position: absolute;
  top: 853px;
  width: 95%;
  height: 15vh;
  background-color: #f3cf89;

  text-align: center;
  padding: 25px;
}
footer nav {
  transform: translateX(2.5%);
}

/* Responsiveness */

@media screen and (max-width: 765px) {
  footer {
    top: 895px;
  }
}

/* Svg */

#app {
  transform: translate(12%, -205%);
}

@media screen and (max-width: 880px) {
  #app {
    transform: translate(20%, 194%);
  }
}
@media screen and (max-width: 745px) {
  #app {
    transform: translate(20%, 235%);
  }
}
@media screen and (max-width: 473px) {
  #app {
    transform: translate(5%, 305%);
  }
}
@media screen and (max-width: 770px) {
  .chartGroup {
    transform: translateX(-5%);
  }
}

/* Interactivity */

.list-Name,
.list-ItemCheckbox {
  color: #ee6c4d;

  opacity: 100%;

  transform: translate(-2%, 55px);
  list-style: none;

  padding: 15px;
}
.unorderedList {
  padding: 52px;
}
.intReflection-Link {
  position: relative;
  transform: translate(450px 100px);
}

/* Responsiveness List */

@media screen and (max-width: 767px) {
  .list-ItemCheckbox {
    padding: 5px;

    transform: translate(-2.5%, 285%);
  }
}
@media screen and (max-width: 580px) {
  .list-Name,
  .list-ItemCheckbox {
    transform: translate(-15%, 355%);
    margin: 5px;
  }
}
#ExamGraph {
  background-color: #232c35;
  transform: translate(-60%, 175%);

  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#link_dataSetOne {
  position: absolute;
  transform: translate(-1305px, 620px);

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;

  text-decoration: none;
  color: beige;
}
#link_dataSetTwo {
  position: absolute;
  transform: translate(-1305px, 730px);

  background-color: #ee6c4d;
  padding: 7.5px;

  border-radius: 8px;

  text-decoration: none;
  color: beige;
}

@media screen and (max-width: 1045px) {
  #link_dataSetOne {
    transform: translate(-1085px, 620px);
  }
  #link_dataSetTwo {
    transform: translate(-1085px, 725px);
  }
}

#ExamReflection-Link {
  position: absolute;
  top: 74.5%;
  left: 42%;
  text-decoration: none;
  color: beige;
  background-color: #ee6c4d;
  padding: 7.5px;
  border-radius: 8px;
}

@media screen and (max-width: 1400px) {
  #ExamReflection-Link {
    left: 28%;
    top: 75%;
  }
}
@media screen and (max-width: 676px) {
  #link_dataSetOne {
    transform: translate(-945px, 620px);
  }
  #link_dataSetTwo {
    transform: translate(-945px, 720px);
  }
  #ExamReflection-Link {
    left: 38%;
    top: 74%;
  }
}
@media screen and (max-width: 1755px) {
  #link_dataSetOne {
    transform: translate(-1245px, 680px);
  }
  #link_dataSetTwo {
    transform: translate(-1245px, 745px);
  }
  #ExamReflection-Link {
    left: 35%;
    top: 74.3%;
  }
}

