.Image-One {
  width: 100%;
  min-height: 1125px;
}
@media screen and (max-width: 1445px) {
  footer {
    top: 972.5px;
  }
  #link_dataSetOne {
    left: 85%;
    top: 15%;
  }
  #link_dataSetTwo {
    left: 105%;
    top: 11.5%;
  }
  #ExamReflection-Link {
    top: 78.65%;
  }
}
.logoImage {
  position: absolute;

  margin: 5px;
  left: 3.8%;
  top: 2.5%;
  z-index: 1;
  width: 5%;
}
@media screen and (max-width: 360px) and (max-height: 640px) {
    footer{
        
    }
}
